P {
  margin: 0;
}

.cap_component {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 70vw;
  height: 80vh;
  border-radius: 30px;
  background-color: #131f24ec;
  align-items: center; /* corrigindo alinhamento e botoes quebrando no final em celular */
}

.capScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../images/paisagem.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cap_welcome_page {
  border-radius: 100px;
  width: 110px;
  height: 110px;
  margin: 0 auto;
}

.cap_txt_box_grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(1, 2fr);
  margin: 0 auto;
  height: fit-content;
  width: max-content;
  /* margin-top: 15vh;  corrigindo um problema de quebra de tela e de botoes */
  justify-items: center;
}

.cap_txt_box {
  background-color: rgba(177, 235, 235, 0.801);
  border-radius: 20px;
  text-align: left;
  margin-top: 2vh;
  min-height: 57px;
  width: 55vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vh;
}
.cap_txt_box p {
  margin: auto;
}
.cap_component input::placeholder {
  color: #fff9;
  text-align: center;
}

.cap_component input {
  color: white;
  border-color: #28b498;
  margin: 0 auto;
  text-align: center;
  width: 60%;
}

.button {
  width: 50%; /* Mantém a largura automática */
  min-height: 50px; /* Define uma altura mínima para garantir espaço para o texto */
  padding: 10px 20px; /* Aumenta o padding para dar mais espaço ao redor do texto */
  cursor: pointer;
  background: transparent;
  border: 1px solid #28b498;
  border-radius: 20px;
  outline: none;
  transition: 0.3s ease-in-out;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: normal; /* Permite quebra de linha dentro do botão */
}

.button:hover {
  transition: 0.3s ease-in-out;
  background: #28b498;
}

.confirm_button {
  margin: 0 auto;
  width: 100%;
}

.margin_confirm {
  padding: 10px;
}

.button span {
  white-space: normal; /* Permite quebra de linha dentro do span */
  text-align: center; /* Centraliza o texto dentro do span */
  overflow: visible; /* Garante que o texto não seja cortado */
  display: block; /* Garante que o span ocupe toda a largura do botão */
}

@media screen and (max-width: 1300px) {
  .cap_txt_box {
    width: 50vw;
  }

  .cap_txt_box_grid {
    grid-template-columns: repeat(1, 2fr);
    margin: 0 auto;
    /* margin-top: 15vh; corrigindo alinhamento  */
  }
  .cap_welcome_page {
    border-radius: 100px;
    width: 110px;
    height: 110px;
    margin: 0 auto;
    margin-top: 2vh;
  }
}

@media screen and (max-width: 1000px) {
  .cap_component {
    width: 90vw;
    border-radius: 1;
  }
  .cap_txt_box {
    width: 70vw;
    padding: 2vh;
  }
  .cap_txt_box_grid {
    grid-template-columns: repeat(1, 2fr);
    margin: 0 auto;
    /* margin-top: 20vh; corrigindo alinhamento */
  }
  .cap_welcome_page {
    border-radius: 100px;
    width: 110px;
    height: 110px;
    margin: 0 auto;
    margin-top: 2vh;
  }
}

@media screen and (max-width: 620px) {
  .cap_welcome_page {
    border-radius: 100px;
    width: 90px;
    height: 90px;
  }
  .cap_txt_box_grid {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    height: fit-content;
    margin: 0 auto;
    /* margin-top: 20vh; corrigindo alinhamento */
  }
  .cap_welcome_page {
    border-radius: 100px;
    width: 110px;
    height: 110px;
    margin: 0 auto;
    margin-top: 2vh;
  }
}

.edit_button {
  background-color: #28b498;
  border-radius: 20px;
  font-size: 15px;
  padding: 10px;
}

.button_capCreator {
  min-width: 150px;
  max-width: 200px;
}

.confirm_button_capCreator{
  min-width: 200px;
}

.text_capCreator {
  min-width: 250px;
  max-width: 350px;
}
