/* goals_container.css */

/* Estilos gerais */
.goals_view {
  padding: 0px 50px;
  min-height: calc(100vh - 111px);
  background-color: #131F2455;
}

.goal_creator_buttons {
  margin-top: 110px;
  min-height: calc(100vh - 110px);
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  justify-items: center;
  align-items: center;
  background-image: url("../../images/fundoCasa.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
}

.buttons {
  display: flex;
  padding-right: 2vw;
  justify-content: end;
  padding-top: 10px;
}

.new_goal_button {
  background: #83C5BE;
  text-align: center;
  padding: 20px;
  border-radius: 30px;
  cursor: pointer;
  transition: transform 0.2s;
}

.new_goal_button:hover {
  transform: translateY(-5px);
}

.modal-content {
  background-color: #131f24;  
}

.pomodoro_pomodoroTimer__y5PYo {
  background-color: #222E33 !important;  
}

.pomodoro_pomodoroTimer__y5PYo h2 {
  color: white;
}

.pomodoro_timer__uDPla {
  color: white !important;
}

.modal_title {
  color: white !important;
} 

.modal-header {
  border-bottom: var(--bs-modal-header-border-width) solid #F1FAEE !important;
  justify-content: space-around;
  color: white;
}

.modal-footer {
  border-top: var(--bs-modal-header-border-width) solid #F1FAEE !important;
}

.modal_title {
  color: rgb(45, 59, 50);
}

.close_button {
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 3em;
  transition: 0.5s;
}

.close_button:hover {
  color: #ff0000;
}

.botao {
  width: 180px;
  height: 30px;
  cursor: pointer;
  background: transparent;
  border: 1px solid rgb(81, 252, 65);
  border-radius: 20px;
  outline: none;
  transition: 0.5s ease-in-out;
  text-align: center;
  margin-right: 2vw;
}

.botao span {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 100;
}

.botao a {
  text-decoration: none;
}

.fixed_botao {
  position: absolute;
  color: white;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #FF6B6B;
  border: none;
  border-radius: 5px;
  transition: 0.3s, transform 0.3s;
  text-align: center;
  font-size: 1em;
}

.fixed_botao:hover {
  background-color: #ff4c4c;
  transform: translateY(-3px);
}

.fixed_botao span {
  display: block;
  text-align: center;
}

.botao:hover {
  transition: 0.5s ease-in-out;
  background: rgb(6, 199, 54);
  transform: scale(1.05);
}

.close:hover {
  background: rgb(255, 0, 0);
}

.modal_position {
  display: flex;
  justify-content: space-between;
}

.form_grid {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
  justify-items: center;
}

@media screen and (min-width: 1000px) {
  .form_grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .form_grid input {
    margin-top: 0px !important;
  }
}

.form_grid input {
  margin-top: 10px !important;
  color: black;
}

.form_grid input::placeholder {
  color: rgb(187, 186, 186);
}

.goal_card {
  background-color: #222E33;
  color: #FFF;
  position: relative;
  margin-top: 20px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  z-index: 0;
  text-align: center;
}

.goal_card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.goal_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #28B498;
  padding-bottom: 10px;
  margin-bottom: 15px;
  margin-top: 5vh;
  color: white;
}

.goal_title h3 {
  flex: 1;
  text-align: center;
  margin: 0;
  font-size: 1.5em;
}

.goal_title h4 {
  margin: 0;
  font-size: 1.2em;
  color: #FF6B6B;
  white-space: nowrap;
}

.goal_card p {
  margin: 10px 0;
  color: #FFF;
  font-size: 1em;
}

.goal_card p span {
  font-weight: bold;
}

.goal_card h5 {
  text-align: center;
  font-size: 20px;
}

.goal_card .goal_data {
  margin-top: 20px;
}

.goal_data{
  display: grid;
  grid-template-columns: repeat(2, 3fr);
  gap: 10px;
  justify-content: center; /* Centraliza o grid horizontalmente */
}

.goal_data span{
  color: #FF6B6B !important; 
}

.letra_vermelha {
  color: #FF6B6B !important; 
}

.goal_card .goal_data p {
  justify-content: baseline;
  margin: 5px 0;
}

.goal_card .goal_data p span {
  font-weight: bold;
  color: #1D3557;
}

.goal_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  padding-bottom: 20px;
}

.goal_title p {
  margin: 0;
}

.goal_title .name {
  flex: 1;
  text-align: center;
}

.goal_title .importance {
  margin-left: auto;
}

.goal_title input {
  margin: 0;
  cursor: pointer !important;
}

.goals_grid {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding-bottom: 5vh;
}

/* Media query para telas menores que 750px */
@media screen and (max-width: 900px) {
  .goals_grid {
    grid-template-columns: 1fr;
  }
}

.top_left_botao {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 5px 10px; /* Reduz o padding para mobile */
  cursor: pointer;
  color: white;
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  transition: 0.3s, transform 0.3s;
  text-align: center;
  font-size: 15px; /* Reduz o tamanho da fonte para mobile */
}

.top_left_botao:hover {
  background-color: #45a049;
  transform: translateY(-3px);
}

.top_left_botao span {
  display: block;
  text-align: center;
}

/* Estilos responsivos para os botões em telas pequenas */
@media screen and (max-width: 850px) {
  .fixed_botao {
    bottom: 10px; /* Ajusta a posição para mobile */
    right: 10px; /* Ajusta a posição para mobile */
    padding: 5px 10px; /* Reduz o padding para mobile */
    font-size: 0.8em; /* Reduz o tamanho da fonte para mobile */
    color: white;
  }

  .goal_title{
    margin-top: 30px;
  }

  .top_left_botao {
    top: 10px; /* Ajusta a posição para mobile */
    left: 10px; /* Ajusta a posição para mobile */
    padding: 5px 10px; /* Reduz o padding para mobile */
    font-size: 0.8em; /* Reduz o tamanho da fonte para mobile */
  }

  .botao {
    width: 100px; /* Reduz a largura para mobile */
    height: 25px; /* Reduz a altura para mobile */
    font-size: 0.8em; /* Reduz o tamanho da fonte para mobile */
  }
}

.subtasks {
  margin-top: 20px;
}

.subtask_item {
  display: grid;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ddd;
  grid-template-columns: repeat(3, 1fr);
  color: white;
}

.subtask_item label {
  flex-grow: 1;
}

.subtask_item input[type="checkbox"] {
  margin-right: 10px;
}

.subtask_item button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.subtask_item button:hover {
  background-color: #ff1a1a;
}

.edit_button_goals {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: gold; 
  padding: 5px 10px;
  text-align: center;
  border-radius: 5px; 
  font-size: 25px;
  transition: 0.3s, transform 0.3s;
}

.edit_button_goals:hover {
  transform: translateY(-5px);
}

.rating {
  display: inline-block;
}

.rating input {
  display: none;
}

.rating label {
  float: right;
  cursor: pointer;
  color: #ccc;
  transition: color 0.3s;
}

.rating label:before {
  content: '\2605';
  font-size: 30px;
}

.rating input:checked ~ label,
.rating label:hover,
.rating label:hover ~ label {
  color: #fbff25;
  transition: color 0.3s;
}

.priority_div {
  display: flex;
  align-items: center; /* Alinha os itens verticalmente no centro */
}

.priority_label {
  margin-right: 10px; /* Espaço entre o texto e os elementos de avaliação */
}

.rating {
  align-items: center; /* Alinha os itens verticalmente no centro */
}

.styled-input {
  width: 100%;
  max-width: 400px;
  padding: 10px 15px;
  margin: 10px 0;
  color: #555;
  box-sizing: border-box;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
}

.styled-input:focus {
  border-color: #007BFF;
}

.styled-input::placeholder {
  color: #999;
  font-style: italic;
}

.goal_update{
  background-color: #222E33;
  width: 70%;
  margin: 0 auto;
  position: relative;
  margin-top: 20px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.priority_div span, .goal_update_body span{
  color: #FF6B6B !important;
  font-weight: bold;
}

.goal_update_body {
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
}

.goal_update_body h3, label{
  color: white;
}

.Btn_goal_add {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  border: none;
  padding: 0px 20px;
  background-color: #3aa856;
  color: white;
  font-weight: 700;
  cursor: pointer;
  border-radius: 10px;
  transition-duration: 0.3s;
  justify-content: center;
  margin: 0px;
}

.Btn_goal_add:hover {
  color: transparent;
  background-color: #3aa856;
}
  
.Btn_goal_add:hover img {
  right: 43%;
  margin: 0;
  padding: 0;
  border: none;
}

.Btn_goal_add {
  background-color: #3aa856;
}

.button__icon {
  transition: 1s;
  position: relative;
}

.Btn_goal_add:hover .button__icon {
  width: 100%;
  transition: 1s;
  position: absolute;
}

.Btn_goal_add:active {
  transform: translate(3px, 3px);
  transition-duration: 0.3s;
  background-color: #3aa856;
}

.Btn_goal_end {
  background-color: #0076bb;
}

.Btn_goal_end:active {
  background-color: #0076bb;
}

.Btn_goal_end:hover {
  background-color: #0076bb;
}

.img_goal {
  filter: invert(1);
}

.goal_geral_tela .Toastify__toast-container {
  position: absolute !important;
}

.botao_direita {
  top: 20px !important;
  right: 20px !important;
}

.finalizar_meta {
  color: #ffffff;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 17px;
  padding: 0.7em 1.8em;
  border-radius: 10px;
  position: absolute;
  padding: 15px 15px;
}

.tooltip_finalizar_meta {
  background-color: #4CAF50 !important;
}
  
.tooltip_finalizar_meta::before {
  background-color: #4CAF50 !important;
}

.finalizar_meta:hover .tooltip_finalizar_meta {
  top: -200%;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}  


@media screen and (max-width: 900px) {
  .goal_update{
    width: 100%;
  }
  .goal_creator_buttons {
    padding-bottom: 25vh;
  }
}

@media screen and (max-width: 500px) {
  .goal_data{
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: left;
  }
}

input[type="checkbox"]{
  background-color: black !important;
}

.goal_obs {
  word-break: break-word;
  white-space: normal;
  overflow-wrap: break-word;
}

.white-font{
  color: white;
}