/* body {    
    height: 100vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
} */

/* @media screen and (max-width: 1000px) {
    body {    
        height: auto;
        overflow-y: auto;
        align-items: center;
        justify-content: center;
        display: flex;
    }
} */

h1 {
    font-size: 4.5rem;
    text-align: center;
    font-weight: bold !important;
}

h2 {
    padding: 0 100px;
    text-align: center;
    margin: 50px 0px;
    font-size: 1.5rem;
}

@media screen and (max-width: 1000px) {
    h1{
        font-size: 3rem;
    }
    
    h2 {
        padding: 0 10px;
    }
}

input {
    cursor: text !important;
    margin-top: 50px;
    background-color: #28B49810;
    color: #000;
    border-radius: 80px;
    border-style: ridge;
    padding: 20px;
    width: 80%;
}

::placeholder {
    color: #000;
}

::-ms-input-placeholder { /* Edge 12 -18 */
    color: #000;
}

.no-scroll {
    overflow: hidden !important;
}

.sectionLoginForm {
    height: 100vh;
    width: 100vw;
    display: flex;
}

@media screen and (max-width: 1000px) {
    .sectionLoginForm {
        height: auto;
        flex-direction: column;
    }
}

.logoCapivara {
    height: 100px;
    position: fixed;
}

.LoginForm {
    display: grid;
    justify-content: center;
    justify-items: center;
}

/*#1f1324*/
.registroLogin, .registroSenha {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.botaoLogar {
    transition: 0.3s;
    margin-top: 50px;
    height: 50px;
    width: 40%;
    border-radius: 100px;
    color: white;
    text-shadow: 0px 0px 3px #000;
    border: none;
    background: #28B498;
}

@media screen and (max-width: 1000px) {
    .botaoLogar {
        font-size: 1.5rem;
        width: 80vw;
    }
}

.botaoLogar:hover {
    box-shadow: 0px 0px 5px #28B498;
}

.botaoLogar:active {
    background: #24a38a;
}

.cardLogin {
    width: 65vw;
    display: flex;
    color: black;
    text-shadow: 0 0 5px white;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1000px) {
    .cardLogin {
        height: 100vh;
        width: 100vw;
    }
}

.cardRegister {
    width: 35vw;
    display: flex;
    color: white;
    text-shadow: 0 0 5px black;
    background: #131F24;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1000px) {
    .cardRegister {
        height: 100vh;
        width: 100vw;
    }
}

.textos {
    cursor: default;
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.alertaLogin {
    height: 60px;
    width: 65vw;
    font-size: 1.5rem;
    background-color: darkred;
    color: white;
    text-shadow: none;
    text-align: center;
    font-family: "Varela Round", sans-serif;
    position: fixed;
    bottom: 0px;
    animation: subir 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1000px) {
    .alertaLogin {
        height: 100px;
    }
}

.alertaRegistro {
    height: 60px;
    width: 35vw;
    padding: 0px 10px;
    font-size: 1.5rem;
    background-color: darkred;
    color: white;
    text-shadow: none;
    text-align: center;
    font-family: "Varela Round", sans-serif;
    position: fixed;
    bottom: 0px;
    animation: subir 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1000px) {
    .alertaRegistro {
        height: 100px;
    }
}

.coletaneaBotoesLogar {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.botaoCriarUsuario {
    background-color: #131F24;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botaoUsuarUsuario {
    background-color: #000;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1000px) {
    .alertaLogin {
        width: 100vw;
    }
    
    .alertaRegistro {
        width: 100vw;
    }
    
    .botaoCriarUsuario:hover {
        box-shadow: 0px 0px 5px #131F24;
    }

    .botaoCriarUsuario:active {
        background: #000000;
    }
    
    .botaoUsuarUsuario:hover {
        box-shadow: 0px 0px 5px #000;
    }
    
    .botaoUsuarUsuario:active {
        background: #000;
    }
}

@keyframes subir {
    from {
        bottom: -60px;
    }
    to {
        bottom: 0px;
    }
}

.esqueciSenha {
    margin-top: 10px;
    cursor: pointer;
    width: 80%;
}

@media screen and (max-width: 1000px) {
    .esqueciSenha {
        text-align: center;
    }
}

.registroUsuario {
    align-items: center;
    display: grid;
    justify-items: center;
}

.formRegistroUsuario {
    display: flex;
    width: 80%;
}

@media screen and (max-width: 1000px) {
    .formRegistroUsuario {
        width: 100%;
    }
}

.registroUsuario input {
    color: white;
    margin: 0px 10px 50px;
}

.registroUsuario ::placeholder {
    color: #FFF;
}

.registroUsuario ::-ms-input-placeholder { /* Edge 12 -18 */
    color: #FFF;
}


.capivaraOlha {
    height: 300px;
}
  
  .eyes {
    left: 150px;
    top: 120px;
    position: absolute;
    transform: translate(-50%, -50%);
    background: white;
    width: 50px;
    border: black;
    border-style: solid;
    border-radius: 100px;
    height: 50px;
  }
  
  .eye {
    width: 25px;
    height: 25px;
    background-color: black;
    border-radius: 50%;
    border: 3px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
  }
  

.fecha {
    background: #B97A57;
    animation: fechar;
}


@keyframes fechar {
    from {
        bottom: -60px;
    }
    to {
        bottom: 0px;
    }
}

.fecha .eye {
    width: 25px;
    height: 25px;
    background-color: #0000;
    border-radius: 50%;
    border: 3px solid #0000;
    position: absolute;
    top: 50%;
    left: 50%;
}

@keyframes rodar {
    to {
        rotate: 360deg;
    }
}

.loading {
    transition: 1s;
    position: fixed;
    display: flex;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background: #0006;
    z-index: 1;
    align-items: center;
    justify-content: center;
}

.loadingRodar {
    width: 250px;
    height: 250px;
    border-style: outset;
    border-color: white;
    border-radius: 100%;
    border-width: thick;
    animation: rodar 2s ease-out infinite;
}

@media screen and (max-width: 1000px) {
    .loadingRodar {
        width: 50px;
        height: 50px;
    }
}
