.navbar_view {
  background-color: black;
  top: 0;
  z-index: 100;
  width: 100%;
  position: fixed !important;
  justify-content: center;
}

.fine_line {
  background-color: rgb(165, 65, 252);
  height: 0.1vh;
}

.burguer_menu {
  color: rgb(165, 65, 252);
  font-size: 50px;
  cursor: pointer;
}

.menu_title {
  color: white;
  cursor: pointer;
}

.menu_title:hover {
  -webkit-animation: swing 1s ease;
  animation: swing 1s ease infinite;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }

  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }

  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }

  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }

  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.offcanvas {
  background-color: black !important;
  align-items: baseline !important;
  padding-left: 1vw;
}

.menu_item_nav {
  font-size: 1.2em;
  color: #fff;
  display: flex;
  transition: 0.5s;
  margin: 15px 0px;
  text-decoration: none;
  padding-top: 20px;
  padding-left: 2vw;
}

.button {
  max-width: 20vw;
  max-height: 30vh;
}
