

.cap_component_perfil {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100vw;
    height: calc(100vh - 110px);
    border-radius: 0px;
    color: white;
}

.cap_component_perfil h1 {
    font-size: 2.5rem;
}

.component_cap {
    display: flex;
    width: 50vw;
    align-items: center;
    flex-direction: column;
    color: white;
    justify-content: center;
}

.border_direita {
    border-right: 1px solid #131f24ec;
}

.border_esquerda {
    transition: 1s;
    border-left: 1px solid #131f24ec;
}

.border {
    transition: 1s;
    width: 70vw;
}

.nickname_input {
  margin: 0;
  cursor: default !important;
}

.nav_buttons{
  padding-top: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nickname_input_editando {
    cursor: text;
    margin: 0;
  }

.infosUser {
    display: flex;
    width: 100%;
    justify-content: center;
}

.component_cap_main {
    width: 100vw;
    display: flex;
    height: 50vh;
}

.consulta_skins h1 {
    font-size: 2rem;
}

.component_cap img {
    width: auto;
}

.consultar_amigo {
  border-radius: 100px;
}

.cap_welcome_page_amigo {
  transition: 0.3s;
  cursor: pointer;
}

.cap_welcome_page_amigo:hover {
  filter: drop-shadow(0px 0px 10px white)
}

.user_info_main {
    display: flex;
}

.user_info_main input, .user_info input, label {
    margin-top: 0px;
    font-size: 1.5rem;
    font-weight: bold;
}

.user_info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.component_amigos {
    height: 100%;
}

.component_amigos_main {
    height: 100%;
    background-color: #131f24ec;
}

.amigo_main, .amigo_main_geral {
    align-items: center;
}

.amigo_main_ultimos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    justify-items: center;
    height: 35vh;
}

.amigo_main, .amigo_main_ultimos {
    height: 50%;
}

.amigo_main_geral {
    height: calc(100vh);
}

.amigo {   
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    width: 250px;
    text-align: center;
}

.card, .card_esq {
    width: 100%;
    height: 100%;
    background: #e5a24c55;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border-radius: 0px;
}
  
.card::before, .card_esq::before {
    content: "";
    height: 100px;
    width: 100px;
    position: absolute;
    border-radius: 50%;
    border: 35px solid rgba(255, 255, 255, 0.102);
    transition: all .8s ease;
    filter: blur(.5rem);
}


.card::before {
  top: 0%;
  left: 5%;
}

.card_esq::before {
    top: 0%;
    right: 5%;
}

.text {
    flex-grow: 1;
    padding: 15px;
    display: flex;
    flex-direction: column;
    color: aliceblue;
    text-shadow: 0px 0px 5px #000;
    font-weight: 900;
    font-size: 1.2em;
    align-items: center;
    justify-content: center;
    padding-top: 10vh;
}

.text input {
    text-align: center;
    font-size: 1.5rem;
    text-shadow: 0px 0px 5px #000;
}
  
.card:hover::before, .card_esq:hover::before {
    width: 350px;
    height: 350px;
    filter: blur(0rem);
}

.card:hover::before {
    top: -30%;
    left: 85%;
}

.card_esq:hover::before {
    top: -30%;
    right: 85%;
}

.texto_alerta, .texto_sucesso {
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0 0 0;
    max-width: 80%;
}

.texto_alerta {
    background: rgb(215, 215, 0);
    margin-left: 10vw;
}

.texto_sucesso {
    background: green;
}

.texto_tema {
    height: 100px;
    margin: 0px;
}

.botoes_amigos {
    display: flex;
}

.botao_amigos {
    position: absolute;
    margin: 10px;
    z-index: 1;
}

.input_amigos {
    top: 0;
    right: 0;
    width: 300px;
    margin: 10px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.amizades {
    height: calc(100vh);
    overflow-y: auto;
    overflow-x: hidden;
}

.amizades_consult {
  height: calc(100vh);
  overflow-y: auto;
  overflow-x: hidden;
  width: 100vw;
}

.amizades_geral, .amizades_pendente {
    border-right: solid #e5a24c55 2px;
    padding-top: 9vh;
}

.amizades::-webkit-scrollbar {
    width: 1px;
}
  
.amizades::-webkit-scrollbar-thumb {
      background: #555; 
}
  

.amizades_pesquisar {
    height: calc(100vh);
    overflow: auto;
    padding-top: 5vh;
}

.amizades_amigos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    justify-items: center;
    width: 100%;
}

.amizades_amigos p{
  padding: 5vh;
}

.search-box{
  max-width: 90%;
  padding-left: 10vw;
}

.wrap-input-17 * {
    box-sizing: border-box;
}
   
.wrap-input-17 .search-box{
    height: fit-content;
    position: relative;
    width: 100%;
    height: 100px;
}
   
.wrap-input-17 .input-search{
    height: 50px;
    width: 50%;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    transition: all .5s ease-in-out;
    padding-right: 40px;
    margin-top: 0px;
    border-radius: 0;
}
.wrap-input-17 .input-search::placeholder{
    color:white;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
}
.wrap-input-17 .btn-search{
    width: 50px;
    height: 50px;
    border-radius: 0px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    position: absolute;
    right: 4px;
    color:#ffffff;
    background-color:transparent;
    pointer-events: painted;
    margin: 0px;  
}
.wrap-input-17 .btn-search:focus ~ .input-search{
    border-radius: 0px;
    background-color: 
   transparent;
    border-bottom:1px solid 
   rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.wrap-input-17 .input-search:focus{
    border-radius: 0px;
    background-color: 
   transparent;
    border-bottom:1px solid 
   rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.button_perfil, .button_perfil_negar {
    position: relative;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 0;
    margin-bottom: 20px;
    font-size: 1.2rem;
  }

.button_perfil {
    border: 1px solid #34974d;
    background-color: #3aa856;
}
  
.button_perfil_negar {
    border: 1px solid #973434;
    background-color: #a83a3a;
}
  .button_perfil, .button__icon, .button__text {
    transition: all 0.3s;
  }
  .button_perfil_negar, .button__icon, .button__text {
    transition: all 0.3s;
  }
  
  .button_perfil .button__text {
    transform: translateX(30px);
    color: #fff;
    font-weight: 600;
    left: -20px;
    position: relative;
  }

  .button_perfil_negar .button__text {
    transform: translateX(30px);
    color: #fff;
    font-weight: 600;
    left: -30px;
    position: relative;
  }
  
  .button_perfil .button__icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 39px;
    background-color: #34974d;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
  }
  
  .button_perfil_negar .button__icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 39px;
    background-color: #973434;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
  }

  .button_perfil .svg {
    width: 30px;
    stroke: #fff;
  }
  
  .button_perfil_negar .svg {
    width: 30px;
    stroke: #fff;
  }
  
  .button_perfil:hover {
    background: #34974d;
  }
  
  .button_perfil_negar:hover {
    background: #973434;
  }

  .button_perfil:hover .button__text {
    color: transparent;
  }
  
  .button_perfil_negar:hover .button__text {
    color: transparent;
  }
  
  .button_perfil:hover .button__icon {
    width: 148px;
    transform: translateX(0);
  }
  
  .button_perfil_negar:hover .button__icon {
    width: 148px;
    transform: translateX(0);
  }
  
  .button_perfil:active .button__icon {
    background-color: #2e8644;
  }
  
  .button_perfil_negar:active .button__icon {
    background-color: #862e2e;
  }
  
  .button_perfil:active {
    border: 1px solid #2e8644;
  }
  
  .button_perfil_negar:active {
    border: 1px solid #862e2e;
  }

  .toggle-button-cover {
    display: table-cell;
    position: relative;
    width: auto;
    height: 140px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
  }
  
.label_input {
    text-align: center;
    margin: 0px 10px;
    width: 300px;
}

.label_input_user {
  text-align: center;
  margin: 0px 10px;
  width: 500px;
}

  .button-cover {
    height: 100px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 10px 20px -8px #c5d6d6;
    border-radius: 4px;
  }
  
  .button-cover:before {
    counter-increment: button-counter;
    content: counter(button-counter);
    position: absolute;
    right: 0;
    bottom: 0;
    color: #d7e3e3;
    font-size: 12px;
    line-height: 1;
    padding: 5px;
  }
  
  .button-cover,
  .knobs,
  .layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  #button-3 {
    padding: 0px;
  }
  
  .button_amigos {
    position: relative;
    top: 50%;
    width: 74px;
    height: 36px;
    margin: -20px auto 0 auto;
    overflow: hidden;
  }
  
  .checkbox {
    cursor: pointer !important;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
  }
  
  .knobs {
    z-index: 2;
  }
  
  .layer {
    width: 100%;
    background-color: #ebf7fc;
    transition: 0.3s ease all;
    z-index: 1;
  }
  
  .button_amigos.r,
  .button_amigos.r .layer {
    border-radius: 100px;
    top: 25px;
  }
  
  #button-3 .knobs:before {
    content: "Sim";
    position: absolute;
    top: 5px;
    left: 4px;
    width: 30px;
    height: 20px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px 8px 4px;
    background-color: #34974d;
    border-radius: 50%;
    transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
    box-sizing: revert;
  }


  #button-3 .checkbox:active + .knobs:before {
    width: 46px;
    border-radius: 100px;
  }
  
  #button-3 .checkbox:checked:active + .knobs:before {
    margin-left: -26px;
  }
  
  #button-3 .checkbox:checked + .knobs:before {
    content: "Não";
    left: 30px;
    background-color: #f44336;
  }
  
  .Btn, .Btn_senha, .Btn_voltar, .Btn_cap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 210px;
    height: 40px;
    border: none;
    padding: 0px 20px;
    background-color: #71bb00;
    color: white;
    font-weight: 700;
    cursor: pointer;
    border-radius: 10px;
    transition-duration: 0.3s;
  }
  
  .Btn_cap {
    width: 170px;
  }

  .Btn_voltar {
    width: 130px;
  }
  
  .Btn, .Btn_cap {
    background-color: #71bb00;
  }

  .Btn_senha, .Btn_voltar {
    background-color: #009fbb;
  }

  .svg_button {
    width: 13px;
    position: absolute;
    right: 0;
    margin-right: 20px;
    fill: white;
    transition-duration: 0.3s;
  }
  
  .Btn:hover, .Btn_cap:hover {
    color: transparent;
    background-color: #71bb00;
  }

  .Btn_senha:hover{
    color: transparent;
    background-color: #009fbb;
  }

  .Btn_voltar:hover{
    color: transparent;
    background-color: #009fbb;
  }
  
  .Btn:hover svg, .Btn_senha:hover svg, .Btn_voltar:hover svg, .Btn_cap:hover svg {
    right: 43%;
    margin: 0;
    padding: 0;
    border: none;
    transition-duration: 0.3s;
  }
  
  .Btn:active, .Btn_senha:active, .Btn_voltar:active, .Btn_cap:active {
    transform: translate(3px, 3px);
    transition-duration: 0.3s;
  }

  .consulta_skins {
    padding: 30px;
    width: 1000px;
    height: 500px;
    background-color: #333;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 30px black;
    z-index: 1000;
    overflow-x: hidden;
    overflow-y: auto;
    color: #FFF;
  }
  
  .consulta_skins::-webkit-scrollbar {
    width: 10px;
  }
    
  .consulta_skins::-webkit-scrollbar-thumb {
    background: #555; 
    border-radius: 10px;
  }

  .clicar {
    position: absolute;
    height: 100vh;
    width: 100vw;
    cursor: pointer;
    z-index: 10;
  }

  .consulta_skins_images {
    padding: 20px 0px;
  }
  
  .espacamento {
    margin: 30px 0px 20px;
  }

.img_perfil {
  transition: 0.8s;
  cursor: pointer;
}

.img_perfil:hover {
  background-color: #FFF5;
}

.background_img_undefined {
  border-radius: 100px;
}

.background_img_hover_1:hover {
  border-radius: 100px;
  filter: drop-shadow(0px 0px 10px #A020F0);
}

.background_img_1 {
  border-radius: 100px;
  filter: drop-shadow(0px 0px 5px #A020F0);
}

.background_img_hover_2:hover {
  border-radius: 100px;
  filter: drop-shadow(0px 0px 10px #FF0000);
}

.background_img_2 {
  border-radius: 100px;
  filter: drop-shadow(0px 0px 5px #FF0000);
}

.background_img_hover_3:hover {
  border-radius: 100px;
  filter: drop-shadow(0px 0px 10px #228B22);
}

.background_img_3 {
  border-radius: 100px;
  filter: drop-shadow(0px 0px 5px #228B22);
}

.background_img_hover_4:hover {
  border-radius: 100px;
  filter: drop-shadow(0px 0px 10px #0000ff);
}

.background_img_4 {
  border-radius: 100px;
  filter: drop-shadow(0px 0px 5px #0000ff);
}

.background_img_hover_5:hover {
  border-radius: 100px;
  filter: drop-shadow(0px 0px 10px #EEAD2D);
}

.background_img_5 {
  border-radius: 100px;
  filter: drop-shadow(0px 0px 5px #EEAD2D);
}

.label_input_user {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1600px) {
  .label_input_user {
    width: auto;
  }
}

@media screen and (max-width: 1000px) {
  .homeScreenStore {
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  .component_cap_main {
    height: calc(100vh);
    flex-direction: column;
  }
  .component_cap {
    width: 100vw;
    height: calc(100vh);
  }

  .cap_component_perfil {
    position: relative;
  }

  .infosUser {
    flex-direction: column;
    width: 100%;
  }
  
  .label_input_user {
    width: 100%;
  }
  
  .consulta_skins h1 {
    position: absolute;
    top: 0;
  }

  .border {
    border: 0px var(--bs-border-width) var(--bs-border-style) var(--bs-border-color)!important
  }

  .border_esquerda {
    border-left: 0px solid #131f24ec;
  }

  .homeScreenStore::-webkit-scrollbar {
    width: 4px !important;
  }

  .text input {
    font-size: 1.5rem;
    padding: 0.5rem;
    width: 60%;
  }
  .label_input_user {
    align-items: center;
  }

  .submit_buttons {
    margin: 0px;
    margin-top: 10px;
  }
  
  .text {
    padding: 0;
  }

  .text{
    margin-top: 10vh;
  }

  .label_input_user {
    margin: 0;
  }

  #btn_editar {
    width: 190px !important;
    font-size: 1.3rem;
  } 

  .homeScreenStore {
    background-image: none !important;
    background: #222E33;
  }

  .card, .card_esq {
    background: none;
  }

  .submit_buttons {
    width: 100%;
  }

  .infosUser {
    margin-top: 10px;
  }
  
  .label_input_user label, .label_input_user input{
    font-size: 1rem;
  }

  .component_amigos {
    height: 50%;
  }

  .component_amigos_main h1 {
    padding-top: 80px;
    font-size: 1.5rem;
  }

  .component_amigos_main {
    min-height: 35vh;
    padding-bottom: 20vh;
  }

  .component_amigos {
    height: auto;
  }
}