

.cap_component_perfil {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100vw;
    height: calc(100vh - 110px) !important;
    border-radius: 0px;
    color: white;
}

.cap_component_perfil h1 {
    font-size: 2.5rem;
}

.component_cap {
    display: flex;
    width: 50vw;
    align-items: center;
    flex-direction: column;
    color: white;
    justify-content: center;
}

.border_direita {
    border-right: 1px solid #131f24ec;
}

.border_esquerda {
    transition: 1s;
    border-left: 1px solid #131f24ec;
}

.border {
    transition: 1s;
    width: 100vw;
}

.nickname_input {
    cursor: default !important;
}

.nickname_input_editando {
    cursor: text;
}

.infosUser {
    display: flex;
}

.component_cap_main {
    width: 100vw;
    display: flex;
    height: 50vh;
}

.component_cap h1 {
    font-size: 2rem;
}

.component_cap img {
    width: auto;
}

.user_info_main {
    display: flex;
}

.user_info_main input, .user_info input, label {
    margin-top: 0px;
    font-size: 1.5rem;
    font-weight: bold;
}

.user_info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.component_amigos {
    height: 100%;
}

.component_amigos_main {
    height: 100%;
    background-color: #131f24ec;
}

.amigo_main, .amigo_main_geral {
    display: flex;
    align-items: center;
}

.amigo_main_ultimos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    justify-items: center;
    height: 35vh;
    align-items: center;
}

.amigo_main, .amigo_main_ultimos {
    height: 50%;
}

.amigo_main_geral {
    height: calc(100vh - 110px);
}

.amigo {   
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    width: 250px;
    text-align: center;
}

.card, .card_esq {
    width: 100%;
    height: 100%;
    background: #e5a24c55;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border-radius: 0px;
}
  
.card::before, .card_esq::before {
    content: "";
    height: 100px;
    width: 100px;
    position: absolute;
    border-radius: 50%;
    border: 35px solid rgba(255, 255, 255, 0.102);
    transition: all .8s ease;
    filter: blur(.5rem);
}


.card::before {
  top: 0%;
  left: 5%;
}

.card_esq::before {
    top: 0%;
    right: 5%;
}

.text {
    flex-grow: 1;
    padding: 15px;
    display: flex;
    flex-direction: column;
    color: aliceblue;
    text-shadow: 0px 0px 5px #000;
    font-weight: 900;
    font-size: 1.2em;
    align-items: center;
    justify-content: center;
}

.text input {
    text-align: center;
    font-size: 1.5rem;
    text-shadow: 0px 0px 5px #000;
}
  
.card:hover::before, .card_esq:hover::before {
    width: 350px;
    height: 350px;
    filter: blur(0rem);
}

.card:hover::before {
    top: -30%;
    left: 85%;
}

.card_esq:hover::before {
    top: -30%;
    right: 85%;
}

.texto_alerta, .texto_sucesso {
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0 0 0;
}

.texto_alerta {
    background: rgb(215, 215, 0);
}

.texto_sucesso {
    background: green;
}

.texto_tema {
    height: 100px;
    margin: 0px;
}

.botoes_amigos {
    display: flex;
}

.botao_amigos {
    position: absolute;
    margin: 10px;
}

.input_amigos {
    top: 0;
    right: 0;
    width: 300px;
    margin: 10px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.amizades {
    height: calc(100vh - 110px);
    overflow-y: auto;
    overflow-x: hidden;
    width: 33.5vw;
}

.amizades_geral, .amizades_pendente {
    border-right: solid #e5a24c55 2px;
}

.amizades::-webkit-scrollbar {
    width: 1px;
}
  
.amizades::-webkit-scrollbar-thumb {
      background: #555; 
}
  

.amizades_pesquisar {
    height: calc(100vh - 110px);
    overflow: auto;
    width: 33vw;
}

.amizades_amigos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    justify-items: center;
    width: 100%;
}
.wrap-input-17 * {
    box-sizing: border-box;
}
   
.wrap-input-17 .search-box{
    width: fit-content;
    height: fit-content;
    position: relative;
    width: 100%;
    height: 100px;
}
   
.wrap-input-17 .input-search{
    height: 50px;
    width: 50%;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    transition: all .5s ease-in-out;
    padding-right: 40px;
    margin-top: 0px;
    border-radius: 0;
}
.wrap-input-17 .input-search::placeholder{
    color:white;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
}
.wrap-input-17 .btn-search{
    width: 50px;
    height: 50px;
    border-radius: 0px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    position: absolute;
    right: 4px;
    color:#ffffff;
    background-color:transparent;
    pointer-events: painted;
    margin: 0px;  
}
.wrap-input-17 .btn-search:focus ~ .input-search{
    width: 50%;
    border-radius: 0px;
    background-color: 
   transparent;
    border-bottom:1px solid 
   rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.wrap-input-17 .input-search:focus{
    width: 50%;
    border-radius: 0px;
    background-color: 
   transparent;
    border-bottom:1px solid 
   rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.button_perfil, .button_perfil_negar {
    position: relative;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 0;
    margin-bottom: 20px;
    font-size: 1.2rem;
  }

.button_perfil {
    border: 1px solid #34974d;
    background-color: #3aa856;
}
  
.button_perfil_negar {
    border: 1px solid #973434;
    background-color: #a83a3a;
}
  .button_perfil, .button__icon, .button__text {
    transition: all 0.3s;
  }
  .button_perfil_negar, .button__icon, .button__text {
    transition: all 0.3s;
  }
  
  .button_perfil .button__text {
    transform: translateX(30px);
    color: #fff;
    font-weight: 600;
    left: -20px;
    position: relative;
  }

  .button_perfil_negar .button__text {
    transform: translateX(30px);
    color: #fff;
    font-weight: 600;
    left: -30px;
    position: relative;
  }
  
  .button_perfil .button__icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 39px;
    background-color: #34974d;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
  }
  
  .button_perfil_negar .button__icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 39px;
    background-color: #973434;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
  }

  .button_perfil .svg {
    width: 30px;
    stroke: #fff;
  }
  
  .button_perfil_negar .svg {
    width: 30px;
    stroke: #fff;
  }
  
  .button_perfil:hover {
    background: #34974d;
  }
  
  .button_perfil_negar:hover {
    background: #973434;
  }

  .button_perfil:hover .button__text {
    color: transparent;
  }
  
  .button_perfil_negar:hover .button__text {
    color: transparent;
  }
  
  .button_perfil:hover .button__icon {
    width: 148px;
    transform: translateX(0);
  }
  
  .button_perfil_negar:hover .button__icon {
    width: 148px;
    transform: translateX(0);
  }
  
  .button_perfil:active .button__icon {
    background-color: #2e8644;
  }
  
  .button_perfil_negar:active .button__icon {
    background-color: #862e2e;
  }
  
  .button_perfil:active {
    border: 1px solid #2e8644;
  }
  
  .button_perfil_negar:active {
    border: 1px solid #862e2e;
  }

  .toggle-button-cover {
    display: table-cell;
    position: relative;
    width: auto;
    height: 140px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
  }
  
.label_input {
    text-align: center;
    margin: 0px 10px;
    width: 300px;
}

  .button-cover {
    height: 100px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 10px 20px -8px #c5d6d6;
    border-radius: 4px;
  }
  
  .button-cover:before {
    counter-increment: button-counter;
    content: counter(button-counter);
    position: absolute;
    right: 0;
    bottom: 0;
    color: #d7e3e3;
    font-size: 12px;
    line-height: 1;
    padding: 5px;
  }
  
  .button-cover,
  .knobs,
  .layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .button {
    position: relative;
    top: 50%;
    width: 74px;
    height: 36px;
    margin: -20px auto 0 auto;
    overflow: hidden;
  }
  
  .checkbox {
    cursor: pointer !important;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
  }
  
  .knobs {
    z-index: 2;
  }
  
  .layer {
    width: 100%;
    background-color: #ebf7fc;
    transition: 0.3s ease all;
    z-index: 1;
  }
  
  .button.r,
  .button.r .layer {
    border-radius: 100px;
    top: 40px;
  }
  
  #button-3 .knobs:before {
    content: "Sim";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 20px;
    height: 10px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    background-color: #34974d;
    border-radius: 50%;
    transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
    box-sizing: revert;
  }


  #button-3 .checkbox:active + .knobs:before {
    width: 46px;
    border-radius: 100px;
  }
  
  #button-3 .checkbox:checked:active + .knobs:before {
    margin-left: -26px;
  }
  
  #button-3 .checkbox:checked + .knobs:before {
    content: "Não";
    left: 42px;
    background-color: #f44336;
  }
  