.store {
  overflow-y: auto;
}

.store::-webkit-scrollbar {
  width: 10px;
  background-color: #131F2455;
}
  
.store::-webkit-scrollbar-thumb {
  background: #555; 
  border-radius: 10px;
}
  

.store_component_cima, .store_component_baixo {
    background-color: #131F2455;
}

.store_component_cima {
  border-bottom: 1px black solid;
}

.store_component_baixo {
  border-top: 1px black solid;
}

.homeScreenStore {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 110px);
  margin: 110px 0 0 0;
  background-image: url("../../images/fundoCasa.jpeg");
}

.store_item {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  justify-items: center;
  align-items: center;
  min-height: calc(50vh - (121.4px ));
}

.card_store {
    position: relative;
    width: 11.875em;
    height: 16.5em;
    box-shadow: 0px 1px 13px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: all 120ms;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #131F24;
    padding: 0.5em;
    flex-direction: column;
    margin: 20px 0px;
  }

  .tituloStore {
    color: #fff;
    text-shadow: 0px 0px 5px black;
    font-size: 3rem;
  }
  
  .card_store .title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    position: absolute;
    left: 0.625em;
    bottom: 1.875em;
    font-weight: 400;
    color: #000;
  }
  
  .card_store .price {
    font-size: 0.9em;
    position: absolute;
    bottom: 5px;
    color: #fff;
  }
  
  .card_store:hover::after {
    bottom: 0;
    opacity: 1;
  }
  
  .card_store:active {
    transform: scale(0.98);
  }
  
  .card_store:active::after {
    height: 3.125em;
  }
  
  .image_store {
    background: #222E33;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
  }

  .img_store {
    width: 150px;
  }

  .price {
    position: absolute;
    bottom: 0;
  }

  .button_perfil_store {
    margin: 10px;
    margin-bottom: 20px;
    cursor: pointer;
  }

  .button_perfil_store_comprada {
    position: relative;
    width: 150px;
    height: 40px;
    cursor: default;
    display: flex;
    align-items: center;
    border-radius: 0;
    margin-bottom: 20px;
    font-size: 1.2rem;
  }

  .campoCompra_store_comprada {
    cursor: default;
    width: 100%;
  }

  .button_perfil_store_comprada {
    height: 100%;
    width: 100%;
    margin: 0px;
    text-align: center;
    justify-content: center;
  }

  .button_perfil_store_comprada:hover {
    background-color: #007bff;
  }

  .button_text {
    left: -10px !important;
  }

  .background_0, .background_1, .background_2, .background_3, .background_4, .background_5 {
    position: relative;
    height: 130px;
    width: 130px;
    z-index: 100;
    border-radius: 100px;
  }

  .background_0 {
    box-shadow: 0px 0px 20px #FFF;
  }

  .background_1 {
    box-shadow: 0px 0px 20px #A020F0;
  }

  .background_2 {
    box-shadow: 0px 0px 20px #FF0000;
  }

  .background_3 {
    box-shadow: 0px 0px 20px #228B22;
  }

  .background_4 {
    box-shadow: 0px 0px 20px #0000ff;
  }

  .background_5 {
    box-shadow: 0px 0px 20px #EEAD2D;
  }

  @media screen and (max-width: 1000px) {
    .card_store {
      width: 10em;
      height: 15em;
    }
    .img_store {
      width: 130px;
    }
    .store_item {
      grid-template-columns: repeat(auto-fit, minmax(200px, auto))
    }
  }

  @media screen and (max-width: 400px) {
    .card_store {
      width: 10em;
      height: 15em;
    }
    .img_store {
      width: 130px;
    }
    .store_item {
      grid-template-columns: repeat(auto-fit, minmax(150px, auto))
    }
  }