.store_component_cima, .store_component_baixo {
    height: 50vh;
}
.card_store {
    position: relative;
    width: 11.875em;
    height: 16.5em;
    box-shadow: 0px 1px 13px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: all 120ms;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 0.5em;
    flex-direction: column;
  }
  
  .card_store .title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    position: absolute;
    left: 0.625em;
    bottom: 1.875em;
    font-weight: 400;
    color: #000;
  }
  
  .card_store .price {
    font-size: 0.9em;
    position: absolute;
    bottom: 5px;
    color: #000;
  }
  
  .card_store:hover::after {
    bottom: 0;
    opacity: 1;
  }
  
  .card_store:active {
    transform: scale(0.98);
  }
  
  .card_store:active::after {
    height: 3.125em;
  }
  
  .image_store {
    background: rgb(241, 241, 241);
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
  }

  .img_store {
    width: 150px;
  }

  .price {
    position: absolute;
    bottom: 0;
  }

  .store_component_cima {
    background-color: #131F2455;
  }

  .button_perfil_store {
    margin: 10px;
    margin-bottom: 20px;
  }

  .button_perfil_store_comprada {
    position: relative;
    width: 150px;
    height: 40px;
    cursor: default;
    display: flex;
    align-items: center;
    border-radius: 0;
    margin-bottom: 20px;
    font-size: 1.2rem;
  }

  .campoCompra_store_comprada {
    cursor: default;
    width: 100%;
  }

  .button_perfil_store_comprada {
    height: 100%;
    width: 100%;
    margin: 0px;
    text-align: center;
    justify-content: center;
  }

  .button_perfil_store_comprada:hover {
    background-color: #007bff;
  }

  .button_text {
    left: -10px !important;
  }
